.footer {
  padding: 34px 0 20px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
  border-top: 1px rgba(33, 33, 33, 0.4) solid;
  width: 1280px;
  text-align: center;
}
